<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.chou401.common.mapper.sys.SysConfigMapper">

    <select id="getSysConfigById" resultType="io.chou401.common.vo.sys.SysConfigVo">
        select *
        from sys_config
        where id = #{id}
    </select>

    <select id="getSysConfigPage" parameterType="io.chou401.common.query.sys.SysConfigQuery"
            resultType="io.chou401.common.vo.sys.SysConfigVo">
        select *
        from sys_config
        <where>
            <if test="keyword != null and keyword != ''">
                and (config_name like concat('%',#{keyword},'%')
                or config_key like concat('%',#{keyword},'%')
                or config_value like concat('%',#{keyword},'%'))
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="issys != null">
                and is_sys = #{issys}
            </if>
        </where>
    </select>

</mapper>
