<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.chou401.common.mapper.user.UserMapper">

    <select id="getUserById" resultType="io.chou401.common.vo.user.UserVo">
        select *
        from user
        where id = #{id}
    </select>

    <select id="getUserPage" parameterType="io.chou401.common.query.user.UserAppQuery"
            resultType="io.chou401.common.vo.user.UserVo">
        select *
        from user
    </select>

</mapper>
